workflow-examples/Similarity_with_ReadBinaryFile.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -680,
        380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        -100,
        220
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "filePath": "={{$node[\"Set Input Output Files Paths\"].parameter[\"values\"][\"string\"][0][\"value\"]}}"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        -280,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {
          "fileName": "=output.csv"
        }
      },
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        260,
        420
      ]
    },
    {
      "parameters": {
        "fileName": "={{$node[\"Set Input Output Files Paths\"].parameter[\"values\"][\"string\"][1][\"value\"]}}"
      },
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        420,
        420
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "inputFile",
              "value": "lds-files/input.csv"
            },
            {
              "name": "outputFile",
              "value": "lds-files/output.csv"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Input Output Files Paths",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -460,
        220
      ]
    },
    {
      "parameters": {},
      "name": "LdsDataset",
      "type": "n8n-nodes-base.ldsDataset",
      "typeVersion": 1,
      "position": [
        -420,
        520
      ]
    },
    {
      "parameters": {
        "url1": "Bus",
        "url2": "Car"
      },
      "name": "LdsSimilarity",
      "type": "n8n-nodes-base.ldsSimilarity",
      "typeVersion": 1,
      "position": [
        -140,
        540
      ]
    },
    {
      "parameters": {},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        80,
        420
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "LdsDataset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Input Output Files Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Output Files Paths": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LdsDataset": {
      "main": [
        [
          {
            "node": "LdsSimilarity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LdsSimilarity": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
