workflow-examples/Similarity_with_ReadBinaryFile.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -480,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        -20,
        500
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "filePath": "={{$node[\"Set Input Output Files Paths\"].parameter[\"values\"][\"string\"][0][\"value\"]}}"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        -180,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {
          "fileName": "=output.csv"
        }
      },
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        340,
        400
      ]
    },
    {
      "parameters": {
        "fileName": "={{$node[\"Set Input Output Files Paths\"].parameter[\"values\"][\"string\"][1][\"value\"]}}"
      },
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "inputFile",
              "value": "lds-files/input.csv"
            },
            {
              "name": "outputFile",
              "value": "lds-files/output.csv"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Input Output Files Paths",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -340,
        500
      ]
    },
    {
      "parameters": {},
      "name": "LdsDataset",
      "type": "n8n-nodes-base.ldsDataset",
      "typeVersion": 1,
      "position": [
        -180,
        260
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "benchmark": false
      },
      "name": "LdsSimilarity1",
      "type": "n8n-nodes-base.ldsSimilarity",
      "typeVersion": 1,
      "position": [
        180,
        400
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "LdsDataset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Input Output Files Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "LdsSimilarity1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Output Files Paths": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LdsDataset": {
      "main": [
        [
          {
            "node": "LdsSimilarity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LdsSimilarity1": {
      "main": [
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
